.services {
    text-align: center;
    min-height: 600px;
    border-bottom: 1px solid #C6CA8B;
}

.serviceitems {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.item {
    text-align: left;
    margin: 0 50px 50px 50px;
}

@media screen and (max-width: 700px) {
    .serviceitems {
        width: 100%;
    }

    .item {
        margin: 0;
    }

    .services {
        text-align: left;
    }
}