.wrapper {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    min-height: 100px;
}

.logo_container {
    width: 200px;
    background-image: url('../../media/ftla-logo.svg');
    background-position: center left;
    background-repeat: no-repeat;
    border-right: 1px solid #C6CA8B;
    padding-right: 50px;
}

.contacts_container {
    border-left: 1px solid #C6CA8B;
    padding-left: 50px;
    text-align: left;
    font-size: 12px;
    display: flex;
    align-items: center;
}

a {
    color: inherit;
    text-decoration: inherit;
}

@media screen and (max-width: 700px) {
    .wrapper {
        padding-top: 5px;
        margin: 0 auto;
        display: flex;
        min-height: 60px;
    }

    .logo_container {
        width: 30%;
        background-position: center left;
        background-size: 90%;
        background-image: url('../../media/ftla-logo-mob.svg');
    }
    .contacts_container {
        border-left: none;
        width: 70%;
        padding: 0 10px 0 10px;
    }
    .contacts {
        margin: 0 auto;
    }
}

@media (prefers-color-scheme: dark) {
    .logo_container {
        background-image: url('../../media/ftla-logo-white.svg');
    }
  }

@media (max-width: 700px) and (prefers-color-scheme: dark) {
.logo_container {
    background-image: url('../../media/ftla-logo-mob-white.svg');
}
}